*.iml
*.ipr
*.iws

.git/
.gradle/
.idea/
.log/

build/tmp
build/reports
build/classes
build/resources
build/test-results

data/
gradle/
key-pair/
live-auth/
logs/
out/
src/
.dockerignore
.gitignore
app.log
gradlew
gradlew.bat
Jenkinsfile
README.md
build.gradle
settings.gradle
docker-compose.yml
